.Top__Container {
    display: block;
    min-height: 100vh;
}

.Info__Cards {
    display: block;
}

.Info__Cards:first-child {
    background: url(/src/assets/mobile/image-transform.jpg) no-repeat center center;
    background-size: cover;
    height: 300px;

}

.Info__Cards:nth-child(3) {
    display: block;
    background: url(/src/assets/mobile/image-stand-out.jpg) no-repeat center center;
    min-height: 330px;
    background-size: cover;
}

.Descriptive {
    display: block;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    color: black;
    padding: 70px 0;
}

.Title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: hsl(211, 28%, 19%);
    width: 70%;
    margin: auto;
    font-size: 28px;
    font-weight: 900;
    line-height: 1.3;
}

p.Description {
    color: hsl(213, 9%, 39%);
    font-size: 1.05rem;
    font-family: 'Barlow', sans-serif;
    padding-top: 20px;
    padding-bottom: 40px;
    line-height: 1.6;
    margin: 0 1.7rem;
}

.Learn__More {
    text-transform: uppercase;
    color: hsl(211, 28%, 19%);
    font-size: 20px;
    font-weight: 900;
    text-decoration: 8px underline #fff4bc;
}

.Second__Learn__More {
    text-transform: uppercase;
    color: hsl(211, 28%, 19%);
    font-size: 20px;
    font-weight: 900;
    text-decoration: 8px underline #fed9d1;;
}

.Description__Image {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    background: url(/src/assets/mobile/image-graphic-design.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    padding: 70px 0;
}

.Second__Description__Image {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    background: url(/src/assets/mobile/image-photography.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    padding: 70px 0;
}

.Lower__Title {
    font-size: 28px;
    font-weight: 900;
    padding-bottom: 20px;
    color: #205649;
}

.Second__Lower__Title {
    font-size: 28px;
    font-weight: 900;
    padding-bottom: 20px;
    color: #21536a;
}

.Lower__Description {
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Barlow', sans-serif;
    padding-top: 20px;
    line-height: 1.5;
    margin: 0 1.5rem;
    color: #205649;
}

.Second__Lower__Description {
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Barlow', sans-serif;
    padding-top: 20px;
    line-height: 1.5;
    margin: 0 1.5rem;
    color: #21536a;
}

@media (min-width: 950px) {

    .Top__Container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .Descriptive:first-child {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .Descriptive {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 25px;
    }

    .Title {
        display: block;
        width: 86%;
        padding-left: 1.7rem;
        font-size: 38px;
        text-align: left;
        margin: 0;
    }

    .Description {
        width: 80%;
        text-align: left;
    }

    .Info__Cards:first-child {
        background: url(/src/assets/desktop/image-transform.jpg) no-repeat center center;
        background-size: cover;
        height: 100%;
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .Info__Cards:nth-child(2) {
        background: url(/src/assets/desktop/image-stand-out.jpg) no-repeat center center;
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .Description__Image {
        display: flex;
        align-items: center;
        background: url(/src/assets/desktop/image-graphic-design.jpg) no-repeat center center;
        background-size: cover;
        padding-bottom: 7rem;
        grid-column: 1/2;
        grid-row: 3/4;

    }

    .Second__Description__Image {
        display: flex;
        align-items: center;
        background: url(/src/assets/desktop/image-photography.jpg) no-repeat center center;
        background-size: cover;
        padding-bottom: 7rem;
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .Lower__Title {
        font-size: 28px;
        font-weight: 900;
        padding: 30px;
        color: #205649;
    }
    
    .Second__Lower__Title {
        font-size: 28px;
        font-weight: 900;
        padding: 30px;
        color: #21536a;
    }

    .Lower__Description {
        width: 55%;
        font-size: 20px;
    }

    .Second__Lower__Description {
        width: 40%;
        font-size: 20px;
    }
}